.item{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.div01{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
:host {
    display: block;
  }
  
  .item {
    cursor: pointer;
  }